<!-- <div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div style="display: block">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div style="display: block">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div style="display: block">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <div style="display: block">
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-6" *ngFor="let x of data">
    <div class="card">
      <h2 class="card-title">{{ x.leyenda }}</h2>
      <div class="card-body">
        <div style="display: block;">
          <canvas baseChart [data]="x.data" [labels]="x.labels" [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>